body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
#calculator{
    font-family: Arial,sans-serif;
    background-color: rgb(44, 44, 44);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 150%;
    padding: 20px;
    font-size: 40px;
    text-align: left;
    border: none;
    color: white;
    background-color: rgb(116, 116, 116);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 70px;
    border: none;
    background-color: gray;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(110, 110, 110);
}
button:active{
    background-color: rgb(189, 189, 189);
}
.button-M{
    background-color: rgb(228, 180, 49);
}
.button-M:hover{
    background-color: rgb(223, 189, 97);
}
.button-M:active{
    background-color: rgb(228, 205, 141);
}